.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.comparison {
  display: grid;
  gap: 1rem;
  padding: 1.3rem;
}

@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .comparison {
    padding: 0.95rem;
  }
}

